{% extends "core/index.html" %}
{% block title %}Raspberries{% endblock %}
{% block content %}
<div class='page-header'>
	<h1>Raspberries</h1>
</div>
<div class='row'>
	<div class="progress" id='temperature'>
		  <div class="progress-bar" role="progressbar"
			  aria-valuenow="0" aria-valuemin="0"
			  aria-valuemax="50"
			  style="min-width: 2em;">0C</div>
	</div>
	<div class="progress" id='humidity'>
		  <div class="progress-bar" role="progressbar"
			  aria-valuenow="0" aria-valuemin="0"
			  aria-valuemax="100"
			  style="min-width: 2em;">0%</div>
	</div>
</div>
<div class='row'>
<div class='col-md-12'>
<table class='table table-bordered table-striped'>
	<thead>
		<tr>
			<th>Created</th>
			<th>Name</th>
			<th>Value</th>
		</tr>
	</thead>
	<tbody>
		{% for data in data_list %}
		<tr>
			<td>{{ data.created }}</td>
			<td>{{ data.name }}</td>
			<td>{{ data.value}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
</div>
</div>
{% endblock %}
